@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(135deg, #24292e, #1c2022);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
